/uploads/assets/*
!/uploads/assets/.gitkeep

videos/
uploads/assets/*.mp4

.env
.env.*
!.env.example
.vercel/

tools/firebase-migration/node_modules/
firebase-public/
firebase-debug.log
.firebase/
.vercel
.env*

/node_modules/
